.cafeContainer {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.cafeContainer h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.cafeContainer h2 {
    font-size: 30px;
}

.cafeContainer .established {
    font-style: italic;
}

.cafeContainer h1,
.cafeContainer h2,
.cafeContainer p {
    text-align: center;
}

.cafeContainer .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.cafeContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cafeContainer hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.cafeContainer .bottom-line {
    margin-top: 25px;
}

.cafeContainer h1,
.cafeContainer h2 {
    font-family: Impact, serif;
}

.cafeContainer .item {
    display: flex;
    justify-content: space-between;
}

.cafeContainer .item p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

/* FOOTER */

.cafeContainer footer {
    font-size: 14px;
}

.cafeContainer .address {
    margin-bottom: 5px;
}

.cafeContainer a {
    color: black;
}

.cafeContainer a:visited {
    color: black;
}

.cafeContainer a:hover {
    color: brown;
}

.cafeContainer a:active {
    color: brown;
}
